.card {
  margin-bottom: 30px;
  background-color: #333;
  color: #fafafa
}

.team-img {
  height: 100%;
  width: 100%;
}
 
ul.post-tags {
  padding: 5px;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
